<!doctype html>
<html lang="en">
  <head>
    <title>GYMTICKET - Log In</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- fa6 icons -->
     <script src="https://kit.fontawesome.com/aafd8179b0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="register.css">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
 
    <section class="vh-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-black">
    
            <div class="px-5 mt-5 ms-xl-4">
              <a href="/index"><span class="h1 fw-bold mb-0 fa-2x me-3 pt-5 mt-xl-4"><i class="fas fa-ticket text-warning "></i> GYMTICKET</span></a>
            </div>
    
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
    
              <div class="d-flex align-center justify-content-center flex-column">

                
                <h3 class="font-weight-bold text-center mb-3 pb-3">Hello! <br>
                  Please create an account below.</h3>
                  
                  <form class="needs-validation" name="form_login" action="#" method="POST"
                  autocomplete="" novalidate>

    
                  <div class="form-floating">
                    <input class="form-control" id="floatingInput" type="text" name="name"
                        placeholder="Full Name" required >
                </div>
                <div class="form-group">
                    <input class="form-control" class="email" id="floatingInput" type="email"
                        pattern="^(http(s){0,1}:\/\/.){0,1}[\-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([\-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$"
                        name="email" placeholder="Email Address" required >

                    <div class="invalid-feedback">
                        Please enter a valid E-Mail address.
                    </div>

                </div>
                <div class="form-floating">
                    <input class="form-control password1" id="floatingPassword" type="password"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{10,}$" name="password"
                        placeholder="Password" required>

                    <!-- <input class="form-control password1" id="floatingPassword" type="password"
                        name="password" placeholder="Password" required> -->
                    <div class="invalid-feedback">
                        Please enter atleast 10 characters with a number, symbol,
                        capital and a small letter.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control cpassword" id="floatingPassword" type="password" name="cpassword"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{10,}$"
                        placeholder="Confirm password" required>
                    <!-- <input class="form-control" id="floatingPassword" type="password" name="cpassword"
                        placeholder="Confirm password" required> -->
                    <div class="invalid-feedback">
                        Passwords do not match.
                    </div>
                </div>

    
                <div class="pt-1 mb-4">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg btn-block" name="signup" value="Signup" type="submit">Register</button>
                </div>
    
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-muted" href="password-reset">Forgot password?</a></p> -->

                <p>Already have an account? <a href="/login" class="link-info text-warning">Log In</a></p>
    
              </form>
              </div>
            </div>
    
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="gymticket-advert.JPG"
              alt="GYMTICKET poster" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
          </div>
        </div>
      </div>
    </section>
 
  </body>
  <script>
    (function() {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
    
                    form.classList.add('was-validated')
                }, false)
            })
    })()
    </script>
</html>