input[type="text"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 8px 8px 0 0;
  }

input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius:  0 0 8px 8px;
  }
  
  input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 8px 8px 0 0;
  }

  .cpassword{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius:  0 0 8px 8px!important;
  }
  

  