@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,body{
    /* background: #6665ee; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background: rgb(34,34,34);
    color: rgb(240,240,240);
}

  /* Windows and Macs */
  @media screen and (min-resolution: 96dpi) {
    /* Target Windows with Inter and Macs with apple-system */
    body {
      font-family: -apple-system, 'Inter', sans-serif; /* Fallback font for Windows */
    }
  }


::selection{
    /* color: #fff; */
    /* background: #6665ee; */
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .form{
    /* background: #fff; */
    /* background: rgb(48,48,48); */
    padding: 30px 35px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.container .form form .form-control{
    height: 40px;
    font-size: 15px;
    /* background: rgb(72,72,72); */
    border: 0;
    border-radius: 8px;
    /* color: #fff; */
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container .form form .button{
    /* background: #6665ee; */
    /* background: #ffcc00; */
    border-radius: 8px;
    border: 0;
    /* color: #fff; */
    /* color: rgb(34,34,34); */
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    /* background: #5757d1; */
    /* background: #e0b401; */
}
.container .form form .link{
    padding: 5px 0;
}
.container .form form .link a{
    /* color: #6665ee; */
}
.container .login-form form p{
    font-size: 14px;
}
.container .row .alert{
    font-size: 14px;
}


/* @media (prefers-color-scheme: light) {

    html,body{
        background: hsl(231, 70%, 96%);
    }
    
    ::selection{
        color: #fff;
        background: #6665ee;
    }

    input[type="email"]{
        color: rgb(17, 17, 17)!important;
        background-color: rgb(206, 213, 251)!important;
        border: 1px solid rgb(180, 190, 249)!important;
    }

    input[type="password"]{
        color: rgb(17, 17, 17)!important;
        background-color: rgb(206, 213, 251)!important;
        border: 1px solid rgb(180, 190, 249)!important;
    }

    input[type="text"]{
        color: rgb(17, 17, 17)!important;
        background-color: rgb(206, 213, 251)!important;
        border: 1px solid rgb(180, 190, 249)!important;
    }
    

    h2,p{
        color: rgb(17, 17, 17)!important;
    }


    .container .form{
        background: rgb(48,48,48);
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .container .form form .form-control{
        background: rgb(72,72,72);
        color: #fff;
    }

    .container .form form .button{
        background: #ffcc00;
        color: rgb(34,34,34);
    }

    .container .form form .button:hover{
        background: #e0b401;
    }
    .container .form form .link a{
        color: #6665ee;
    }
} */

@media (prefers-color-scheme: light) or (prefers-color-scheme: dark) {
    html,body{
        background: rgb(34,34,34);
    }

    h1{
        color: #fff!important;
    }
    
    ::selection{
        color: #fff;
        background: #6665ee;
    }

    .container .form{
        /* background: #fff; */
        background: rgb(48,48,48);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .container .form form .form-control{
        background: rgb(72,72,72);
        color: #fff;
    }

    .container .form form .button{
        background: #ffcc00;
        color: rgb(34,34,34);
    }

    .container .form form .button:hover{
        /* background: #5757d1; */
        background: #e0b401;
    }
    .container .form form .link a{
        color: #6665ee;
    }
}